{{#each this}}
<div class="photo-card">
    <img src="{{webformatURL}}" alt="{{tags}}" />

    <div class="stats">
        <p class="stats-item">
            <i class="material-icons">thumb_up</i>
            {{likes}}
        </p>
        <p class="stats-item">
            <i class="material-icons">visibility</i>
            {{views}}
        </p>
        <p class="stats-item">
            <i class="material-icons">comment</i>
            {{comments}}
        </p>
        <p class="stats-item">
            <i class="material-icons">cloud_download</i>
            {{downloads}}
        </p>
    </div>
</div>
{{/each}}








{{!-- <h2 class="name">{{name}}</h2>
<div class="container">
    <ul class="list">
        <li class="list-items "><b>Capital:</b> {{capital}}</li>
        <li class="list-items "><b>Population:</b> {{population}}</li>
        <li class="list-items "><b>Languages:</b>
            <ul class="languages-list">
                {{#each languages}}
                <li class="languages-list_item">
                    {{this.name}}
                </li>
                {{/each }}

            </ul>
        </li>
    </ul>
    <img src="{{flag}}" alt="flag of {{name}} " width="280">
</div> --}}
